<h1>Album</h1>

<%= link_to "Add Picture", new_album_path %>

<% @album_items.each do |album_item| %>
  <p><%= link_to album_item.title, album_path(album_item) %></p>
  <p><%= album_item.subtitle %></p>
  <p><%= album_item.body %></p>
  <%= image_tag album_item.thumb_image unless album_item.thumb_image.nil? %>
  <%= link_to "Edit Picture", edit_album_path(album_item) %>
<% end %>